
body {
    margin: 0px;
    padding: 0px;
}

.logo {
    position:absolute;
    top: 15px;
    left: 30px;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
}

h1 {
    height: 12rem;
    line-height: 12rem;    
    width: 100%;
    margin: 0px;
    background-color: rgba(141, 187, 237, 0.78);
    text-align: center;
}

.navbar ul {
    height: 50px;
    /* width: 100%; */
    margin: 0px;
    list-style-type: none;
    background-color: rgba(128, 128, 128, 0.652);
}

.navbar ul li {

    display: inline-block;
    padding: 15px 20px 15px;
    float: right;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 0 80px;
}

.box {
    background-color:rgb(128, 125, 125);
    flex: 1 1 30%;
    padding: 50px;
    margin: 10px 20px;
    text-align:center;
    max-width: 1200px;
}

.cta {
    background-color: rgba(141, 187, 237, 0.78);
    height: 20px;
    width: 100px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;
}


